body {
    background-color: #666;
    font-family: 'Press Start 2P', cursive;
    color:#202020;
    font-size:18px;
    overflow:hidden;
    margin:0px; padding:0px;
}

body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
}

container {
    width:700px; height:291px;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    overflow:hidden;
    background-image: url(../images/garden.png);
}


game {
    width:100vw; height:100vh;
    background-color:black;
    overflow:hidden;
}

game * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}


character {
    width:47px; height:74px;
    background-image: url(../images/stand.png);
    transform: scaleX(-1);
}

slime {
    width:206px; height:142px;
    background-image: url(../images/slime.png);
    transform: scaleX(-1);
}

background {
    width:100%; height:100%;
    background-image: url(../images/bg.png);
    background-repeat: repeat-x;
    background-position: bottom;

}
